:root {
  --primary-color: #77787c;
  --secondary-color: #f1f1f1;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  background: var(--secondary-color);
  font-family: "Lato", sans-serif;
}

h1 {
  color: var(--primary-color);
  font-size: 34px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
h2 {
  color: var(--primary-color);
  font-size: 30px;
}
@media (max-width: 500px) {
  h2 {
    font-size: 26px;
  }
}

h3 {
  color: var(--primary-color);
  font-size: 20px;

  text-align: left;
  padding-bottom: 40px;
}
.img-fluid {
  max-height: 100vh;
}
.col-md-4 {
  text-align: center;
  margin-bottom: 15px;
}
.bulb {
  color: var(--primary-color);
  font-size: 18px;
}
.rounded:hover {
  opacity: 70%;
  transition: 1s ease-in-out;
}
ul {
  font-size: 26px;
  text-align: center;
}
li {
  list-style: none;
}

.small {
  color: var(--primary-color);
  font-size: 18px;
  line-height: 1, 6px;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
}
.service {
  font-size: 20px;
  margin-top: 20px;
}

@media (max-width: 700px) {
  .service {
    font-size: 18px;
  }
}

.parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background-image: url("/images/parallax.jpg");
  min-height: 400px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn {
  font-size: 35px;
  background: transparent;
  border: 3px solid black;
  border-radius: 4%;
}

@media (max-width: 700px) {
  .btn {
    font-size: 25px;
  }
}

#contact {
  font-size: 1em;
  margin-top: 30px;
  text-align: center;
}

.nav-item {
  font-size: 20px;
}

.map-responsive {
  overflow: hidden;

  padding-bottom: 56.25%;

  position: relative;

  height: 0;
}

.map-responsive iframe {
  left: 0;

  top: 0;

  height: 100%;

  width: 100%;

  position: absolute;
}

form {
  max-width: 1000px;
  text-align: center;
  margin: 20px auto;
}

@media (max-width: 900px) {
  form {
    max-width: 80%;
  }
}

input,
textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 5px;
  display: block;
  width: 100%;
  margin-top: 1em;
  resize: none;
}

#input-submit {
  color: rgb(12, 11, 11);
  background: rgb(218, 218, 218);
  cursor: pointer;
}
#input-submit:hover {
  opacity: 50%;
}

textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}
.half {
  width: 100%;
  float: none;
  margin-bottom: 0;
}
footer {
  margin-top: 8em;
  text-align: center;
  color: #6d6d74;
  font-size: 20px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(224, 143, 157);
}
.fa-heart:hover {
  color: rgb(224, 143, 157);
}

@media (max-width: 900px) {
  .col-md-3 {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  h3 {
    font-size: 20px;
  }
}
